.layout{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    background:var(--color-background);

}

.layout-content{

    flex:1;

    margin-top:var(--navbar-height);

    width:100%;

    min-width:0;

}

@media(max-width:480px){

    .layout-content{

        overflow-x:hidden;

    }

}