.implementation-page{

    width:min(1400px, 100%);

    margin-inline:auto;

    padding-inline:var(--container-padding);

    display:flex;

    flex-direction:column;

    gap:8rem;

    padding-block:3rem 5rem;

}

@media(max-width:768px){

    .implementation-page{

        gap:5rem;

        padding-block:2rem 4rem;

    }

}

@media(max-width:480px){

    .implementation-page{

        gap:4rem;

        padding-block:1.5rem 3rem;

    }

}
